/* Background management */

/* Custom font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Mona-Sans-BoldWide';
    src: local('Mona-Sans-BoldWide'), url(../fonts//Mona-Sans/Mona-Sans-BoldWide.woff2) format('woff2');
}
.fontBold{
    font-family: 'Mona-Sans-BoldWide';
}
.fontRegular{
    font-family: 'Nunito', sans-serif;
}
/* Mona-Sans-BoldWide */

/* Navbar customised CSS */

/* Nav Bar Customised Button */
.headerButton{
    background: linear-gradient(90deg, #2E2AEB 0%, #4945FF 100%);
    padding: 1rem 1.3rem;
    gap: 10px;
    box-shadow: 0px 8px 20px -7px rgba(46, 42, 235, 0.5);
    border-radius: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all linear 500ms;
}
.headerButton:hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 5.64136px 16.9241px rgba(46, 42, 235, 0.5));
    border: 1px solid #2521EB;
    transition: all linear 500ms;
}
.hTextHover{
    transition: all linear 500ms;
}
.headerButton:hover .hTextHover{
    color: #2521EB;
    transition: all linear 500ms;
}
.headerButtonMobile{
    display: flex;
    background: linear-gradient(90deg, #2E2AEB 0%, #4945FF 100%);
    min-width: 155.69px;
    max-width: 160.69px;
    height: 43.02px;
    padding: 13.53px 18.05px;
    box-shadow: 0px 8px 20px -7px rgba(46, 42, 235, 0.5);
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all linear 500ms;
}
.headerButtonMobile:hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 5.64136px 16.9241px rgba(46, 42, 235, 0.5));
    border: 1px solid #2521EB;
    transition: all ease-in 500ms;
}
.headerButtonMobile:hover .hTextHover{
    color: #2521EB;
    transition: all linear 500ms;
}

.hamBargur{
    background: linear-gradient(90deg, #2521EB 0%, #4945FF 100%);
}

/* On Scroll Changes */

.onScrollNav{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.9) 100%, rgba(255,255,255,0.38139005602240894) 100%);
    border-bottom: 1px solid rgba(0,0,0,0.26);
    -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    padding-top: 5px;   

}

/* Header section */
.backgroundImage{
    background-image: url('../images/header_img/header_bg.jpg');
    backdrop-filter: blur(60px);
    background-size: 100% 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/* Common Typography management */


/* Header icons & Images */
.settingBody{
    height: 60px;
    width: 60px;
    top: 9.3rem;
    left: 4.0rem;
}
.settingsIcon{
    top: 9.8rem;
    left: 5.2rem;
}
.aAIcon{
    height: 60px;
    top: 9.7rem;
    left: 8.6rem;
}
.galleryIcon{
    height: 80px;
    top: 2rem;
    left: 2.5rem;
}
.colorIcon{
    height: 60px;
    top: 3.5rem;
    left: 9rem;
}
.arrowIcon{
    height: 20px;
    top: 5.5rem;
    right: 9rem;
}
.selectorIcon{
    height: 6rem;
    top: 0.4rem;
    right: 3.5rem;
}
/* Services section */
.cardEffect:hover{
    border: 1px solid #F7B733;
    box-shadow: 0px 57px 40px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 500ms;
}
/* Portfolio Section  */
.portfolioBg{
    background-image: url('../images/portfolio/portfolio-bg.png');
    backdrop-filter: blur(32px);
    background-size: 100% 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.activeMenu{
    padding: 15px 25px;
    background: linear-gradient(90deg, #2521EB 0%, #4945FF 100%);
    box-shadow: 2px 6px 30px rgba(42, 38, 238, 0.25);
    opacity: 1 !important;
    color: white;
    text-align: center;
    transition: linear 500ms;
}
.borderHeight {
    position: relative;
  }
  
.borderHeight:after{
    content: '';
    height: 50%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 25%;
    background-color: #0000001a;
}
.portfolioCardHover:hover .portfolioCardHoverBg{
    height: 100%;
    transform-origin: top;
    transition: height linear 500ms;
    animation: oppacityhandaler 500ms;
}
.portfolioCardHover:hover .portfolioCardHoverContent{
    height: 100%;
    transform-origin: top;
    transition: height linear 500ms;
    animation: oppacityhandaler 1s;
}
.portfolioCardHover:hover .portfolioCardHoverContent img {
    display: block;
    opacity: 1;
    transition: all ease-in 1000ms;
    animation: oppacityhandaler 1s;
}
.portfolioCardHover:hover .portfolioCardHoverContent a {
    display: block;
    opacity: 1;
    transition: all ease-in 1000ms;
    animation: oppacityhandaler 1s;
}
@keyframes oppacityhandaler {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
.portfolioButton{
    background: linear-gradient(90deg, #EE296A 0%, #FF3A7B 100%);
    padding: 24px 32px;
    gap: 10px;
    box-shadow: 0px 10px 30px rgba(238, 41, 106, 0.5);
    -webkit-box-shadow: 0px 10px 30px rgba(238, 41, 106, 0.5);
    -moz-box-shadow: 0px 10px 30px rgba(238, 41, 106, 0.5);  
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all linear 500ms;
}
.portfolioButton:hover{
    filter: drop-shadow(0px 5.64136px 16.9241px rgba(238, 41, 106, 0.5));
    background: linear-gradient(90deg, #EE296A 0%, #FF3A7B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #EE296A;
    transition: all linear 500ms;
}
.iconHover{
    transition: all linear 500ms;
}
.portfolioButton:hover .iconHover{
    color: #EE296A;
    transition: all linear 500ms;
}
/* process Section */
.rightBtnBg{
    background : linear-gradient(90deg, #2521EB 0%, #4945FF 100%);
}
.leftBtnBg{
    background: #E4E3FF;
}
/* My skills section */
.skillsBg{
    background-image: url('../images/skills/bg.png');
    background-size: 100% 100%;
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 70vw;
}
.itemsBorderLeft {
    position: relative;
  }
  
.itemsBorderLeft:after{
    content: '';
    height: 55%;
    width: 2px;
    position: absolute;
    left:-1.9px;
    top: 37%;
    background-color: #F7B733;
    border-radius: 50px;
}
.itemsBorderLeft2 {
    position: relative;
  }
  
.itemsBorderLeft2:after{
    content: '';
    height: 55%;
    width: 2px;
    position: absolute;
    right:-1.9px;
    top: 37%;
    background-color: #F7B733;
    border-radius: 50px;
}
/* Testimonial section */
.countdownBg{
    background: #FFFFFF;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
}
.countText{
    background: linear-gradient(90deg, #2521EB 0%, #4945FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.countDivider{
    position: relative;
}
.countDivider:after{
    content: '';
    width: 50%;
    height: 2px;
    opacity: 0.4;
    border-radius: 20px;
    position: absolute;
    left:50%;
    bottom: 0;
    background-color: #C6CDE0;
    border-radius: 50px;
    transform: translateX(-50%);
}
/* Slider dot button modification */
.slick-dots{
    position: unset!important;
    padding: 20px 0!important;
}
.slick-dots li{
    width: 8px!important;
    height: 5px!important;
    margin: 0 1px!important;
    border-radius: 12px!important;
    background: #D2D1F1!important;
}
.slick-dots li button:before{
    display: hidden!important;
    content: ''!important;
}
.slick-dots li.slick-active{
    background: linear-gradient(90deg, #2521EB 0%, #4945FF 100%)!important;
    width: 30px!important;
}
/* Subscribe Secrtion */

.sibsCribgSmall{
    background-image: url('../images/subscribe/bgSmall.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-size: 100% 100%;
    border-radius: 20px;
}
.subscribeButton{
    background: linear-gradient(90deg, #EE296A 0%, #FF3A7B 100%);
    box-shadow: 0px 5.64136px 16.9241px rgba(238, 41, 106, 0.5);
    border: 1px solid transparent;
    transition: all linear 500ms;

}

/* Footer Section */
.footerBg{
    background-image: url('../images/footer/bgsmall.png');
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-size: 100% 100%;
}
.footerBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.5393px 18.0523px;
    gap: 10px;     
    background: linear-gradient(90deg, #EE296A 0%, #FF3A7B 100%);
    box-shadow: 0px 5.64136px 16.9241px rgba(238, 41, 106, 0.5);
    border-radius: 11.2827px;
    border: 1px solid transparent;
}
.footerBtn:hover{
    filter: drop-shadow(0px 5.64136px 16.9241px rgba(238, 41, 106, 0.5));
    background: linear-gradient(90deg, #EE296A 0%, #FF3A7B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border: 1px solid #EE296A;
    box-shadow: inset 0px 5.64136px 16.9241px rgba(238, 41, 106, 0.5);
}
.footerBtn:hover .calendarHover{
    color: #EE296A;
}
.seperatorLink{
    position: relative;
}
.seperatorLink:after{
    content: '';
    height: 18px;
    width: 2px;
    position: absolute;
    right:-10px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: white;
    border-radius: 50px;
}

/*fixing for low end devices viewport */
@media (max-width: 370px){
    .headerButtonMobile{
        display: none;
    }
}
@media (max-width: 330px){
    .theUser{
        height: 160px;
        bottom: -35px;
        right: 0.6rem;
    }
    .carpet{
        width: 140px;
        bottom: -20px;
        left: 2rem;
    }
    .settingBody{
        height: 50px;
        width: 50px;
        top: 7.5rem;
        left: 3.2rem;
    }
    .settingsIcon{
        top: 7.8rem;
        left: 4rem;
    }
    .aAIcon{
        height: 50px;
        top: 7.8rem;
        left: 7rem;
    }
    .galleryIcon{
        height: 60px;
        top: 1rem;
        left: 2rem;
    }
    .colorIcon{
        height: 40px;
        top: 3.0rem;
        left: 7.5rem
    }
    .arrowIcon{
        height: 15px;
        top: 5.5rem;
        right: 8.5rem;
    }
    .selectorIcon{
        height: 5rem;
        top: 0.4rem;
        right: 2.5rem;
    }
}
@media only screen and (max-width: 345px) and (min-width: 331px){
    .theUser{
        height: 160px;
        bottom: -22px;
        right: 1rem;
    }
    .carpet{
        width: 160px;
        bottom: -22px;
        left: 2.8rem;
    }
    .settingBody{
        height: 50px;
        width: 50px;
        top: 8rem;
        left: 3.2rem;
    }
    .settingsIcon{
        top: 8.3rem;
        left: 4rem;
    }
    .aAIcon{
        height: 50px;
        top: 8.3rem;
        left: 7rem;
    }
    .galleryIcon{
        height: 60px;
        top: 1rem;
        left: 2rem;
    }
    .colorIcon{
        height: 40px;
        top: 3.0rem;
        left: 7.8rem
    }
    .arrowIcon{
        height: 15px;
        top: 5.5rem;
        right: 8.5rem;
    }
    .selectorIcon{
        height: 5rem;
        top: 0.4rem;
        right: 2.8rem;
    }
}
@media only screen and (max-width: 360px) and (min-width: 346px){
    .theUser{
        height: 160px;
        bottom: -25px !important;
        right: 1rem;
    }
    .carpet{
        width: 160px;
        bottom: -23px !important;
        left: 2.8rem;
    }
    .settingBody{
        height: 50px;
        width: 50px;
        top: 8.9rem !important;
        left: 3.2rem;
    }
    .settingsIcon{
        top: 9.2rem !important;
        left: 4rem;
    }
    .aAIcon{
        height: 50px;
        top: 9.2rem !important;
        left: 7rem;
    }
    .galleryIcon{
        height: 60px;
        top: 1rem;
        left: 2rem;
    }
    .colorIcon{
        height: 40px;
        top: 3.0rem;
        left: 7.8rem
    }
    .arrowIcon{
        height: 15px;
        top: 5.5rem;
        right: 8.5rem;
    }
    .selectorIcon{
        height: 5rem;
        top: 0.4rem;
        right: 2.8rem;
    }
}
@media only screen and (max-width: 380px) and (min-width: 361px){
    .theUser{
        height: 165px;
        bottom: -25px;
        right: 1rem;
    }
    .carpet{
        width: 160px;
        bottom: -22px;
        left: 2.8rem;
    }
    .settingBody{
        height: 50px;
        width: 50px;
        top: 9.2rem;
        left: 3.2rem;
    }
    .settingsIcon{
        top: 9.5rem;
        left: 4rem;
    }
    .aAIcon{
        height: 50px;
        top: 9.5rem;
        left: 7rem;
    }
    .galleryIcon{
        height: 60px;
        top: 1.2rem;
        left: 2.5rem;
    }
    .colorIcon{
        height: 45px;
        top: 3.2rem;
        left: 8.9rem
    }
    .arrowIcon{
        height: 20px;
        top: 5.7rem;
        right: 8.8rem;
    }
    .selectorIcon{
        height: 5rem;
        top: 0.6rem;
        right: 3.0rem;
    }
}
@media only screen and (max-width: 300px) and (min-width: 270px){
    .theUser{
        height: 120px;
        bottom: -20px;
        right: 1rem;
    }
    .carpet{
        width: 120px;
        bottom: -10px;
        left: 2.3rem;
    }
    .settingBody{
        height: 40px;
        width: 40px;
        top: 6.5rem;
        left: 3.2rem;
    }
    .settingsIcon{
        width: 20px;
        height: 20px;
        top: 6.7rem;
        left: 3.9rem;
    }
    .aAIcon{
        height: 40px;
        top: 6.7rem;
        left: 6.1rem;
    }
    .galleryIcon{
        height: 50px;
        top: 1rem;
        left: 1.5rem;
    }
    .colorIcon{
        height: 30px;
        top: 3.0rem;
        left: 6.8rem
    }
    .arrowIcon{
        height: 15px;
        top: 4rem;
        right: 6.8rem;
    }
    .selectorIcon{
        height: 5rem;
        top: 0.5rem;
        right: 2.3rem;
    }
    .serviceSecAnimFix{
        height: 180px;
        width: 180px;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .theUser{
        height: 220px;
        bottom: -2rem;
        right: 2.2rem;
    }
    .carpet{
        width: 180px;
        bottom: -1.3rem;
        left: 6.0rem;
    }
    .settingBody{
        height: 70px;
        width: 70px;
        top: 12.8rem;
        left: 6.2rem;
    }
    .settingsIcon{
        height: 35px;
        width: auto;
        top: 13.1rem;
        left: 7.4rem;
    }
    .aAIcon{
        height: 80px;
        top: 12.9rem;
        left: 12rem;
    }
    .galleryIcon{
        height: 90px;
        top: 1.7rem;
        left: 3.5rem;
    }
    .colorIcon{
        height: 60px;
        top: 3.7rem;
        left: 13.3rem
    }
    .arrowIcon{
        height: 30px;
        top: 7.7rem;
        right: 12.8rem;
    }
    .selectorIcon{
        height: 8rem;
        top: 0.8rem;
        right: 4.5rem;
    }
}
@media only screen and (min-width: 1024px){
    .theUser{
        height: 300px;
        bottom: -26px;
        right: 3rem;
    }
    .carpet{
        width: 220px;
        bottom: 0rem;
        left: 6.5rem;
    }
    .settingBody{
        height: 70px;
        width: 70px;
        top: 17.5rem;
        left: 7.2rem;
    }
    .settingsIcon{
        width: auto;
        top: 17.8rem;
        left: 8.3rem;
    }
    .aAIcon{
        height: 80px;
        top: 17.6rem;
        left: 13.7rem;
    }
    .galleryIcon{
        height: 120px;
        top: 5rem;
        left: 3.5rem;
    }
    .colorIcon{
        height: 80px;
        top: 6rem;
        left: 15.5rem
    }
    .arrowIcon{
        height: 30px;
        top: 11.2rem;
        right: 16.5rem;
    }
    .selectorIcon{
        height: 10rem;
        top: 2.6rem;
        right: 5.5rem;
    }
}
@media only screen and (min-width: 1440px){
    .theUser{
        height: 347px;
        bottom: -70px;
        right: 4rem;
    }
    .carpet{
        width: 262px;
        bottom: -2.5rem;
        left: 9.0rem;
    }
    .settingBody{
        height: 108.19px;
        width: 108.58px;
        top: 17.5rem;
        left: 9.5rem;
    }
    .settingsIcon{
        height: 45px;
        width: auto;
        top: 18.3rem;
        left: 11.5rem;
    }
    .aAIcon{
        width: 80.8px;
        height: 141.96px;
        top: 17.3rem;
        left: 17rem;
    }
    .galleryIcon{
        width: 133px;
        height: 182px;
        top: 2.8rem;
        left: 4.8rem;
    }
    .colorIcon{
        height: 106px;
        top: 7.4rem;
        left: 19.6rem
    }
    .arrowIcon{
        height: 35.58px;
        top: 10.2rem;
        right: 18.2rem;
    }
    .selectorIcon{
        height: 226.47px;
        top: 1.7rem;
        right: 6.5rem;
    }
}
@media only screen and (min-width: 390px) and (max-width:450px){
    .serviceSecAnimFix{
        height: 250px;
        width: 250px;
    }
}
@media only screen and (min-width: 451px) and (max-width:640px){
    .serviceSecAnimFix{
        height: 300px;
        width: 300px;
    }
}
@media only screen and (min-width: 407px) and (max-width: 424px){
    .fixGrow{
        flex-grow: 0;
    }
}
@media only screen and (min-width : 1024px) and (max-width: 1168px){
    .fixPortfolioIcon{
        left: 0;
    }
}

@media (min-width: 1024px) {
    .itemsBorderLeft2 {
        position: relative;
      }
      
    .itemsBorderLeft2:after{
        content: '';
        height: 55%;
        width: 2px;
        position: absolute;
        left:-1.9px;
        top: 37%;
        background-color: #F7B733;
        border-radius: 50px;
    }
    .portfolioCardHover:hover .portfolioCardHoverBg{
        height: 100%;
        transform-origin: top;
        transition: height linear 500ms;
        animation: oppacityhandaler 500ms;
    }
    .portfolioCardHover:hover .portfolioCardHoverContent{
        height: 100%;
        transform-origin: top;
        transition: height linear 500ms;
        animation: oppacityhandaler 1s;
    }
    .portfolioCardHover:hover .portfolioCardHoverContent img {
        display: block;
        opacity: 1;
        transition: all ease-in 1000ms;
        animation: oppacityhandaler 1s;
    }
    .portfolioCardHover:hover .portfolioCardHoverContent a {
        display: block;
        opacity: 1;
        transition: all ease-in 1000ms;
        animation: oppacityhandaler 1s;
    }
    @keyframes oppacityhandaler {
        0% {opacity: 0;}
        25% {opacity: 0;}
        50% {opacity: 0.5;}
        100% {opacity: 1;}
    }
}
@media (min-width: 768px){
    .countDivider:after{
        content: '';
        width: 2px;
        height: 50%;
        opacity: 0.4;
        border-radius: 20px;
        position: absolute;
        left: auto;
        right:0;
        bottom: 50%;
        background-color: #C6CDE0;
        border-radius: 50px;
        transform: translateY(50%);
    }
    .sibsCribgSmall{
        background-image: url('../images/subscribe/backgroundimg.png');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        background-size: 100% 100%;
        border-radius: 20px;
    }
    .footerBg{
        background-image: url('../images/footer/bglg.png');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        background-size: 100% 100%;
    }
    .itemsBorderLeft2 {
        position: relative;
      }
      
    .itemsBorderLeft2:after{
        content: '';
        height: 55%;
        width: 2px;
        position: absolute;
        left: -2.1px;
        top: 37%;
        background-color: #F7B733;
        border-radius: 50px;
    }
}
@media (min-width: 425px){
    .seperatorLink2{
        position: relative;
    }
    .seperatorLink2:after{
        content: '';
        height: 18px;
        width: 2px;
        position: absolute;
        right:-10px;
        bottom: 50%;
        transform: translateY(50%);
        background-color: white;
        border-radius: 50px;
    }
}